{% extends "base.html" %}

{% block body %}
<h1>Создать задачу</h1>
<form id="taskForm" method="post">
    <label for="title">Название задачи</label>
    <input type="text" id="title" name="title">
    <label for="description">Описание задачи</label>
    <input type="text" id="description" name="description">
    <button id="btnTaskForm">Добавить задачу</button>
</form>

<script>
    let taskForm = document.getElementById('taskForm');
    taskForm.addEventListener('submit', function(event){
        event.preventDefault();
        let title = document.getElementById('title');
        let description = document.getElementById('description');
        const data = {"title": title.value, "description":description.value}

        fetch('http://127.0.0.1:8000/tasks/create/', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

    })


</script>
{% endblock %}